<div class="container">
  <p>&nbsp;</p>
<h1>Üyeler</h1>

<mat-form-field appearance="outline">
  <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="Filtrele($event)">
</mat-form-field>

<button mat-fab matTooltip="Üye Ekle" color="primary" (click)="Ekle()">
  <mat-icon aria-label="label">add</mat-icon>

</button>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Musteri_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Müşteri ID
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Musteri_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Ad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ad
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Ad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Soyad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Soyad
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Soyad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Tel_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Telefon Numarası
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Tel_no}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Eposta_adresi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Eposta Adresi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Eposta_adresi}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Adres">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Adres
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Adres}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> 

        <button mat-icon-button>
          <mat-icon aria-label="label" color="primary" matTooltip="Üye Listele">article</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon aria-label="label" color="primary" matTooltip="Üye Düzenle" (click)="Duzenle(kayit)">edit</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon aria-label="label" color="warn" matTooltip="Üye Sil" (click)="Sil(kayit)">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>
  
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 50, 100, 500]" showFirstLastButtons>
  </mat-paginator>
</div>